body,
html {
  height: 100%;
}

h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 16px;
}

/* Header */

header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: reverse;
}

div h1 {
  font-size: 40px;
  color: black;
  display: flex;
  text-align: center;
}
p {
  font-size: 40px;
  color: black;
}

#myPic {
  height: 20vw;
  width: 20vw;
  border-radius: 100%;
}

/* Main */

main {
  background-image: url(images/mmmm.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 70vh;
  display: flex;
}

section {
  margin: 20px 15px;
  border-radius: 6px;
  padding: 40px 10px;
}

h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 16px;
}

a {
  margin: 20px;
}

/* Footer */

footer {
  color: black;
  background-color: whitesmoke;
  min-height: 15vh;
  display: flex;
  justify-content: center;
}
